<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A0581B7F-68C3-49E2-A531-307278291EAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D47AA4BF-0EFE-41BB-B863-79675312AAC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D47AA4BF-0EFE-41BB-B863-79675312AAC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F5E9608-0078-4B77-ABBB-8756C6DB4E83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A29F413-E85C-443A-BD34-A9CD1BAF4967</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fred Liang</string>
	<key>description</key>
	<string>Generate table of content for Bear notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bear ToC</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Bear ToC is copied!</string>
				<key>title</key>
				<string>Bear ToC</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F5E9608-0078-4B77-ABBB-8756C6DB4E83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toc</string>
				<key>subtext</key>
				<string>Generating ToC for {query}</string>
				<key>text</key>
				<string>Bear ToC</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0581B7F-68C3-49E2-A531-307278291EAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

sqlite3 ~/Library/Group\ Containers/9K33E3U3T4.net.shinyfrog.bear/Application\ Data/database.sqlite "select ZTEXT from ZSFNOTE where ZUNIQUEIDENTIFIER = '$query';" | grep -E "^#{2,4}" | ruby -e "STDIN.each_line.map(&amp;:strip).map { |line| puts \"#{\"\t\" * (line.count('#') - 2)}* [[/#{line.gsub('#', '').strip}]]\" }"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D47AA4BF-0EFE-41BB-B863-79675312AAC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6A29F413-E85C-443A-BD34-A9CD1BAF4967</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Generate table of content for Bear notes</string>
	<key>uidata</key>
	<dict>
		<key>5F5E9608-0078-4B77-ABBB-8756C6DB4E83</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>6A29F413-E85C-443A-BD34-A9CD1BAF4967</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>A0581B7F-68C3-49E2-A531-307278291EAA</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D47AA4BF-0EFE-41BB-B863-79675312AAC6</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/ilstar/bear_toc_alfred_workflow</string>
</dict>
</plist>
